ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
fieldset { border: 0; }
a img { border: 0; }
.clear { clear: both; font-size: 0; height: 0; }
a { color: #0363ab; text-decoration: none; }
a:hover { color: #2a87cd; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #333; margin: 0; padding: 0; background: #343434; line-height: 1.5}

.entry {
	margin-bottom: 5px;
}

.item {
	margin-left: 40px;
}

header {
	text-align:center;
	margin-bottom:1.5em;

}
td {
	padding-right:10px;
}
ul {
	margin-top:0px;
}
.technical td:first-child {
	padding-left:0px;
}
section {
	margin-bottom:1.5em;
}
.email {
	unicode-bidi:bidi-override;
	direction:rtl;
}
 div.paragraph { line-height: 1.5; margin: .5em 0; }
 p { line-height: 1.5; margin: .5em 0; }
 h1, h2, h3, h4, #logo, #logo a { font-family: Georgia, "Times New Roman", Times, serif; font-weight: normal; font-size: 24px; color: #333; }
 h1, #logo, #logo a { font-size: 44px; line-height: 1; color: #fff; }
 h2 { line-height: 1.3; margin: .3em 0; }
 h3 { line-height: 1.3; font-size: 18px; }
 h4 { font-size: 14px; line-height: 1.2; margin-bottom: 5px; }
 #header-wrap, #navigation-wrap, #main-wrap, #footer-wrap { min-width: 737px; }
 #header-top, #navigation, #main, #footer { width: 737px; margin: 0 auto; }
 #header-wrap { background: #1f1f1f; }
 #header-right a { color: #b3b2b2; }
 #header a:hover { color: #FFFFFF; }
 #navigation-wrap { background: #343333 url(theme/navWrap-bg.png?218975) repeat-x; }
 #navigation { padding: 1px 0 0; font-family: Georgia, "Times New Roman", Times, serif; line-height: 1; }
 #navigation ul { }
 #navigation li { float: left; position: relative; }
 #navigation li a { float: left; display: block; color: #b3b2b2; font-size: 18px; text-decoration: none; padding: 14px 10px; border: 0; outline: 0; }
 #navigation li a:hover, #navigation li#active a { color: #fff; background: #1f1f1f; }
 #wsite-menus .wsite-menu li a { padding: 8px 20px; color: #b3b2b2; background: #1f1f1f; border: 0; border-bottom: 1px solid #535353; }
 #wsite-menus .wsite-menu li a:hover { color: #b3b2b2; background: #343433; border: 0; border-bottom: 1px solid #535353; }
 #header { width: 100%; height: 120px; }
 #header, #header table { border-collapse: collapse; border-spacing: 0; }
 #logo { padding: 25px 0; }
 #header-right { padding: 0 0 0 10px; }
 #header-right table { width: 1px; }
 #header-right table, #header-right .search, #header-right .wsite-search { clear: right; float: right; }
 #header-right .phone-number .wsite-text { color: #fff; font-weight: bold; text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 13px; display: block; white-space: nowrap; margin: 5px 0 5px 15px; }
 #header-right .social { }
 .wsite-social { margin: 5px 0 5px 10px; vertical-align: right; }
 .wsite-social-item { width: 23px; height: 23px; margin: 0 0 0 3px; vertical-align: middle; cursor: pointer; font-size: 0; }
 .wsite-social-item span { display: none; }
 .wsite-social-rss { background: transparent url(theme/rss-h.png?218975) no-repeat; }
 .wsite-social-linkedin { background: transparent url(theme/linkedin-h.png?218975) no-repeat; }
 .wsite-social-facebook { background: transparent url(theme/facebook-h.png?218975) no-repeat; }
 .wsite-social-twitter { background: transparent url(theme/twitter-h.png?218975) no-repeat; }
 .front {
	text-align:center;
	margin-bottom:1.5em;
}
 .tit {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size:medium;
	font-weight:bold;
	margin-bottom:0px;
}
.split {
	width:100%;
}
.split > div {
	display: inline-block;
	width:50%;
	text-align:right;
}
.split > div:first-child {
	text-align:left;
}
 #header-right .wsite-search { margin: 5px 0 5px 15px; width: 205px; height: 26px; background: transparent url(theme/searchForm-bg.png?218975) no-repeat; }
 #header-right .wsite-search-input { width: 152px; height: 13px; border: 0; padding: 6px 12px !important; background: none; font-family: Arial, Helvetica, sans-serif; color: #666; vertical-align: middle; font-size: 12px; }
 #header-right .wsite-search-button { display: inline-block; vertical-align: middle; width: 18px; height: 15px; border: 0; margin: 2px 0 0 2px; padding: 0; cursor: pointer; font-size: 0; background: transparent url(theme/searchBtn-bg.png?218975) no-repeat; }
 #footer-wrap { }
 #footer { padding: 25px 0; font-family: Arial, Helvetica, sans-serif; color: #b3b2b2; font-size: 12px; text-align: right; }
 #footer a { color: #FFFFFF; }
 #footer a:hover { color: #b3b2b2; }
 #footer h2 { color: white; }
 #footer-right { float: right; width: 240px; text-align: right; }
 #footer .wsite-social { display: inline-block; vertical-align: middle; margin: 0 5px 0 0; }
 #footer .wsite-social-item { width: 19px; height: 19px; margin: 0 1px 0 0; }
 #footer .wsite-social-rss { background: transparent url(theme/rss.png?218975) no-repeat; }
 #footer .wsite-social-linkedin { background: transparent url(theme/linkedin.png?218975) no-repeat; }
 #footer .wsite-social-facebook { background: transparent url(theme/facebook.png?218975) no-repeat; }
 #footer .wsite-social-twitter { background: transparent url(theme/twitter.png?218975) no-repeat; }
 .rights { line-height: 19px; vertical-align: middle; }
 .wsite-footer { }
 #main-wrap { background: #fff url(theme/mainWrap-bg.png?218975) repeat-x; }
 #main { padding: 17px 0 0; }
 #banner { }
 .wsite-header { }
 #content { min-height: 400px; padding: 25px 0; }
 .tall-header-page .wsite-header { height: 267px; background: url(theme/soda-hall-long.jpg?218975) no-repeat; }
 .short-header-page .wsite-header { height: 147px; background: url(theme/soda-hall-splash.jpg?218975) no-repeat; }
 .landing-page #banner { padding: 0 0 15px; border-bottom: 1px solid #d5d5d5; }
 #banner-left { float: left; width: 415px; }
 #banner-left .wsite-header { height: 287px; background: url(theme/soda-hall-landing.jpg?218975); }
 #banner-right { float: left; width: 295px; padding: 50px 0 0 25px; }
 #banner-right h2 { }
 #banner-right div.paragraph { padding-bottom: 25px; }
 #banner-right p { padding-bottom: 25px; }
 .no-header-page #main { padding-top: 0; }
 .splash-page #header-wrap, .splash-page #navigation-wrap, .splash-page #main-wrap, .splash-page #footer-wrap { min-width: 558px; }
 .splash-page #header, .splash-page #navigation, .splash-page #main, .splash-page #footer { width: 558px; }
 .splash-page #header-wrap { background: #1f1f1f url(theme/splash-header.png?218975) left bottom repeat-x; }
 .splash-page #header { padding: 36px 0 42px; }
 .splash-page .search { display: none; }
 .splash-page .phone-number { display: none; }
 .splash-page #navigation { display: none; }
 .splash-page .wsite-header { height: 147px; background: url(theme/soda-hall-splash.jpg?218975); }
 .splash-page #content { height: auto !important; min-height: 300px; padding-top: 17px; }
 .splash-page #footer .wsite-social { display: none; }
 .wsite-form-label { display: inline-block; color: #111; font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; font-weight: bold; padding: 12px 0 5px 0; }
 .form-radio-container { }
 .wsite-form-input { font-family: Arial, Helvetica, sans-serif; font-size: 13px; background: #fff url(theme/field.png?218975) repeat-x; color: #535353; border: 1px solid #d2d2d2; width: 300px; line-height: 1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
 .form-select { background: #fff url(theme/field.jpg?218975) repeat-x; color: #535353; border: 1px solid #d2d2d2; padding: 3px 4px; width: 380px; line-height: 16px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
 .wsite-button { color: #fff !important; height: 34px; display: inline-block; font-size: 14px; border: none; font-weight: bold; text-decoration: none; padding: 0 10px 0 0; background: url(theme/button.png?218975) no-repeat 100% -105px; text-shadow: none !important; filter: none !important; }
 .wsite-button:hover { background-position: 100% -140px; }
 .wsite-button:active { background-position: 100% -175px; }
 .wsite-button-inner { height: 34px; line-height: 34px; display: block; font-size: 14px; font-weight: bold; border: none; text-decoration: none; padding: 0 10px 0 20px; background: url(theme/button.png?218975) no-repeat 0 0; }
 .wsite-button:hover .wsite-button-inner { background-position: 0 -35px; }
 .wsite-button:active .wsite-button-inner { background-position: 0 -70px; }
 .wsite-button-large { height: 41px; background: url(theme/button_large.png?218975) no-repeat 100% -126px; padding: 0 10px 0 0; }
 .wsite-button-large:hover { background-position: 100% -168px; }
 .wsite-button-large:active { background-position: 100% -210px; }
 .wsite-button-large .wsite-button-inner { height: 41px; line-height: 41px; padding: 0 10px 0 20px; background: url(theme/button_large.png?218975) no-repeat 0 0; }
 .wsite-button-large:hover .wsite-button-inner { background-position: 0 -42px; }
 .wsite-button-large:active .wsite-button-inner { background-position: 0 -84px; }
 .wsite-button-large.wsite-button-highlight { background-image: url(theme/button_large_highlight.png?218975); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_large_highlight.png?218975); }
 .wsite-button-highlight { background-image: url(theme/button_highlight.png?218975); color: #fff !important; }
 .wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_highlight.png?218975); }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
